<script type="text/javascript">
	Amplitude.init({
		"songs": [
			{
				"name": "Alabama Getaway",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/01 Alabama Getaway.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Hungry Heart",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/02 Hungry Heart.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "I Got a Line on You",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/03 I Got a Line on You.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "My Girl",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/04 My Girl.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Fast as You",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/05 Fast as You.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Oye Como Vy",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/06 Oye Como Vy.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Keep Your Hands to Yourself",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/07 Keep Your Hands to Yourself.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Who'll Stop the Rain",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/08 Who'll Stop the Rain.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
			{
				"name": "Last Dance with Mary Jane",
				"artist": "Off R Rockers",
				"album": "Demo",
				"url": "../music/09 Last Dance with Mary Jane.mp3",
				"cover_art_url": "../images/offrrockers_band.jpg"
			},
		]
	});
</script>
