<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="logo wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div class="site-info">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          </div>

          <nav class="nav-desktop">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about-us">About Us</a>
            <a href="{{ site.baseurl }}/songs">Songs</a>
            <a href="{{ site.baseurl }}/videos">Videos</a>
            <a href="{{ site.baseurl }}/shows">Shows</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">

      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <nav class="nav-mobile">
              <a href="{{ site.baseurl }}/about-us">About Us</a>
              <a href="{{ site.baseurl }}/songs">Songs</a>
              <a href="{{ site.baseurl }}/videos">Videos</a>
              <a href="{{ site.baseurl }}/shows">Shows</a>
            </nav>
          </header>
        </div>

        <img class="banner" src="/images/Band2.jpg" />
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
